*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:Arial,sans-serif;

    background:linear-gradient(
        180deg,
        #4facfe 0%,
        #00f2fe 100%
    );

    padding:15px;
}

/* Header */

.app-header{
    text-align:center;
    color:#fff;
    margin-bottom:20px;
}

.app-logo{
    font-size:60px;
    margin-bottom:5px;
}

.app-header h1{
    font-size:28px;
    font-weight:700;
}

.app-header p{
    opacity:.9;
    margin-top:5px;
}

/* Grid */

.home-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
}

/* Cards */

.menu-card{
    text-decoration:none;
    color:#222;

    min-height:120px;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    font-size:34px;
    font-weight:bold;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:.25s;
}

.menu-card span{
    font-size:17px;
    margin-top:8px;
    text-align:center;
}

.menu-card:active{
    transform:scale(.95);
}

.urdu{
    direction:rtl;
}

/* Colors */

.menu-card:nth-child(1){
    background:#FFD54F;
}

.menu-card:nth-child(2){
    background:#FFCCBC;
}

.menu-card:nth-child(3){
    background:#C5E1A5;
}

.menu-card:nth-child(4){
    background:#B3E5FC;
}

.menu-card:nth-child(5){
    background:#F8BBD0;
}

.menu-card:nth-child(6){
    background:#D1C4E9;
}

/* Coming Soon */

.coming-soon{
    margin-top:20px;
    background:#ffffff;
    border-radius:18px;
    padding:15px;
    text-align:center;
    font-weight:bold;
    color:#444;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

/* Tablet */

@media(min-width:700px){

    .home-grid{
        grid-template-columns:repeat(3,1fr);
        max-width:900px;
        margin:auto;
    }
}