@font-face {
    font-family: 'JameelNoori';
    src: url('../../fonts/jameel-noori-nastaleeq.ttf') format('truetype');
}

body{
    font-family:'JameelNoori', serif;
}
body{
margin:0;
font-family:Arial;
background:black;
text-align:center;
direction: rtl;
}

.title{
background:linear-gradient(90deg,#FF9800,#4CAF50);
color:white;
padding:10px;
font-size:28px;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
padding:10px;
direction: rtl;
}

.card{
padding:20px;
font-size:40px;
border-radius:14px;
cursor:pointer;
background:white;
font-weight:bold;
transition:0.2s;
}

.card:active{
transform:scale(0.95);
}

.card:nth-child(37){
grid-column:1 / span 2;
width:auto;
}

/* Z = W + X */
.card:nth-child(38){
grid-column:3 / span 2;
width:auto;
}

.popup{
position:fixed;
top:0;left:0;
width:100%;height:100%;
background:rgba(0,0,0,0.7);
display:flex;
align-items:center;
justify-content:center;
}

.popup-box{
width:90%;
max-width:360px;
background:white;
border-radius:20px;
/*padding:15px;*/
padding:50px 12px 15px;
position:relative;
}

.popup-header{
position:absolute;
top:-30px;
left:50%;
transform:translateX(-50%);
background:orange;
color:white;
width:70px;
height:70px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;
font-weight:bold;
text-align:center;
}

.popup-img{
width:200px;
height:200px;
object-fit:contain;
}

.popup-text{
font-size:40px;
font-weight:bold;
/*margin:10px 0;*/
text-align:center;
}

.popup-close{
position:absolute;
top:10px;
right:10px;
background:red;
color:white;
border:none;
border-radius:50%;
width:35px;
height:35px;
font-size:18px;
}

.popup-sound{
position:absolute;
top:10px;
left:10px;
background:green;
color:white;
border:none;
border-radius:50%;
width:35px;
height:35px;
}

.nav button{
flex:1;
padding:10px;
margin:5px;
border:none;
border-radius:10px;
background:#4CAF50;
color:white;
font-size:16px;
}

.hidden{display:none;}

.home-btn{
width:100%;
padding:14px;
margin-top:10px;
background:linear-gradient(135deg,#FF9800,#4CAF50);
color:white;
border:none;
font-size:18px;
font-weight:bold;
border-radius:14px;
}

.title,
.card,
.popup-header,
.popup-text{
    font-family:'JameelNoori', serif;
}